// app global css

.my-picker {
  width: 200px;
}

.config-container {
  height: 65vh;
  overflow-y: auto;
  margin-bottom: 5vh !important;
}

.selected {
  position: absolute;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 5px solid limegreen;
}

.color-span {
  text-shadow: black 0px 1px 1px;
  font-size: 15px;
}
